html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #10131b;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

pixelos-app {
  display: block;
  min-height: 100dvh;
}
